// Dark Mode
--text: #f1f7ed;
--background: #020401;
--primary: #68a848;
--secondary: #29613a;
--accent: #36815e;

// Light Mode
--text: #0c1208;
--background: #fcfefb;
--primary: #77b757;
--secondary: #9ed6af;
--accent: #7ec9a6;
